* {
  padding: 0;
  margin: 0;
  color: white;
}
#navbar {
  height: 60px;
  background-color: #0f110f;
}
button {
  background-color: #f08804;
}
#logo {
  color: #f08804;
  font-size: 25px;
}
a {
  margin-right: 200px;
}
#div {
  height: 100px;
  width: 100px;
  border: 2px solid yellowgreen;
  background-color: rgba(255, 0, 0, 0.5);
}
section {
  height: 100px;
}
p {
  color: blue;
  align-items: center;
}
